

@include generate-unit-style('margin', 0, 2, 0.25, '', 'm');
@include generate-unit-style('margin-top', 0, 2, 0.25, '', 'mt');
@include generate-unit-style('margin-bottom', 0, 2, 0.25, '', 'mb');
@include generate-unit-style('margin-left', 0, 2, 0.25, '', 'ml');
@include generate-unit-style('margin-right', 0, 2, 0.25, '', 'mr');
// padding
@include generate-unit-style('padding', 0, 2, 0.25, '', 'p');
@include generate-unit-style('padding-top', 0, 2, 0.25, '', 'pt');
@include generate-unit-style('padding-bottom', 0, 2, 0.25, '', 'pb');
@include generate-unit-style('padding-left', 0, 2, 0.25, '', 'pl');
@include generate-unit-style('padding-right', 0, 2, 0.25, '', 'pr');
//gap
@include generate-unit-style('gap', 0, 2, 0.25, '', 'gap');

body {
    margin: 0;
    font-family: $font-family-sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 1.4rem;
    font-family: $font-family-second;
}

button {
    font-family: $font-family-sans-serif;
}

.ui.container.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 2rem;
    .switch-login {
        display: flex;
        gap: 0.7rem;
        align-items: center;
        color: #afafaf;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 0.75rem;
        &:before,
        &:after {
            content: "";
            background-color: #afafaf;
            height: 1px;
            width: 100%;
            display: block;
        }
    }

    .password-login {
        position: relative;

        .forgot-password {
            position: absolute;
            top: 50%;
            right: 1.5rem;
            transform: translateY(-50%);
            color: $gray;
            text-decoration: none;
        }
    }

    .login-text {
        text-align: center;
        color: $gray;
    }
    .text-register {
        text-align: center;
        font-size: 0.75rem;

        a {
        text-decoration: none;
        text-transform: uppercase;
        }
    }
}
