.btn {
width: 100%;
padding: 13px 0;
border-radius: 15px;
border: none;
font-size: 15px;
font-weight: $bold;
line-height: 22px;
text-transform: uppercase;
text-decoration: none;
text-align: center;
color: #000000;
cursor: pointer;
}
.btn-container{
    padding-bottom: 3px;
}

.btn-primary {
    position: relative;
    background-color: $yellow;

    &::before {
        position: absolute;
        content: "";
        display: block;
        bottom: -3px;
        width: 100%;
        z-index: -1;
        height: 100%;
        background-color: $dark-yellow;
        border-radius: 15px;
    }

    &:disabled {
        background-color: $extra-light-gray;
        color: $dark-gray;

        &::before {
            background-color: $gray;
        }
    }

    &:active {
        background-color: $white;
    }
}

.btn-secondary {
    border: 2px solid $yellow;
    color: $yellow;
    background-color: $white;
}

.btn-answer {
    border: 2px solid $yellow;
    background-color: $white;
    text-align: left;
}

.btn-answer__yes {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 15px 271px 10px 21px;
    border-bottom: none;
}

.btn-answer__no {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px 271px 15px 21px;
}

.active {
    background: rgba(254, 204, 0, 0.2);
}


