@use "sass:string";
@use "sass:map";


@function str-replace($str, $search, $replace: '') {
	$i: str-index($str, $search);

	@if $i {
		@return str-slice($str, 1, $i - 1) + $replace +
			str-replace(str-slice($str, $i + str-length($search)), $search, $replace);
	}

	@return $str;
}


@mixin generate-unit-style(
    $attr,
    $min: 0,
    $max: 5,
    $step: 1,
    $unit: "",
    $alias: $attr
) {
    $i: $min;

    @while $i <=$max {
        .#{$alias}-#{str-replace(#{$i}, ".", "_")}#{$unit} {
            #{$attr}: #{$i}#{if($unit == "", "rem", $unit)} !important;
        }

        $i: $i + $step;
    }
}
