.popup-container {
    display: none;

    &.open {
        display: block;
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.8);

        .popup-button {
            position: fixed;
            bottom: calc(5vh + 140px);
            left: calc(50% + 150px);
            transform: translate(-67%, -75px);
        }
    }
}
.popup-open {
    position: fixed;
    z-index: 1000;
    bottom: calc(5vh + 140px);
    left: calc(50% + 150px);

    button {
        border: none;
        background-color: transparent;
    }
}

.popup-open.close {
    bottom: calc(5vh + 140px);
    left: calc(50% + 150px);

    button {
        animation: rotation-button-open 1s ease-out;
        border: none;
        background-color: transparent;
        transform: rotate(45deg);

        svg {
            ellipse {
                fill: $white;
            }
            path {
                fill: $yellow;
            }
        }
    }
}

.popup-open.open:active {
    button {
        animation: rotation-button-close 0.5s ease-out;
        border: none;
        background-color: transparent;
        transform: rotate(0deg);
    }
}

.popup-button {
    z-index: 100;

    .popup-button_display {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;

        .button-message,
        .button-ia {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            p {
                margin: 7px 5px;
                color: $white;
                background-color: $blue;
                border-radius: 5px;
                padding: 7px 10px;
            }

            .ia-text {
                text-align: center;
                width: 100%;
            }
            .ia-img {
                width: 50%;
            }

            button {
                border-radius: 50%;
                width: 58px;
                height: 58px;
                border: none;
                background-color: $blue;
                margin-left: 8px;
            }
        }

        .button-ia {
            margin-bottom: 12px;
        }
    }
}

// Animation

@keyframes rotation-button-open {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(405deg);
    }
}

@keyframes rotation-button-close {
    from {
        transform: rotate(405deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@media (max-width: 500px) {
    .popup-open {
        bottom: 140px !important;
        right: 2rem !important;
        left: auto !important;
    }

    .popup-button {
        bottom: 140px !important;
        right: 1.2rem !important;
        transform: translate(0, -75px) !important;
        left: auto !important;
    }
}
