// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Lato", sans-serif;
$font-family-second: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color
$yellow-primary: #fecc00;
$yellow-secondary: #e7b900;
$white: #ffffff;
$gray-F7F7F7: #f7f7f7;
$gray-AFAFAF: #afafaf;
$disabled-gray: #e5e5e5;
$disabled-text: #696969;
$progress-gray: #d9d9d9;
$black: #000000;
$blue: #237EE2;
$dark-blue: #3872B2;
$red: #C73E20;
$dark-red: #B92006;

// Weight
$bold: 900;
