// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Lato', sans-serif;
$font-family-second: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color
$yellow-primary: #FECC00;
$yellow-secondary: #E7B900;
$white: #ffffff;
$gray: #AFAFAF;

// Weight
$bold: 900;
