@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300&display=swap");
.yellow {
  color: #fecc00;
}

.fw-900 {
  font-weight: 900;
}

.m-0 {
  margin: 0rem !important;
}

.m-0_25 {
  margin: 0.25rem !important;
}

.m-0_5 {
  margin: 0.5rem !important;
}

.m-0_75 {
  margin: 0.75rem !important;
}

.m-1 {
  margin: 1rem !important;
}

.m-1_25 {
  margin: 1.25rem !important;
}

.m-1_5 {
  margin: 1.5rem !important;
}

.m-1_75 {
  margin: 1.75rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.mt-0 {
  margin-top: 0rem !important;
}

.mt-0_25 {
  margin-top: 0.25rem !important;
}

.mt-0_5 {
  margin-top: 0.5rem !important;
}

.mt-0_75 {
  margin-top: 0.75rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-1_25 {
  margin-top: 1.25rem !important;
}

.mt-1_5 {
  margin-top: 1.5rem !important;
}

.mt-1_75 {
  margin-top: 1.75rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.mb-0_25 {
  margin-bottom: 0.25rem !important;
}

.mb-0_5 {
  margin-bottom: 0.5rem !important;
}

.mb-0_75 {
  margin-bottom: 0.75rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-1_25 {
  margin-bottom: 1.25rem !important;
}

.mb-1_5 {
  margin-bottom: 1.5rem !important;
}

.mb-1_75 {
  margin-bottom: 1.75rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.ml-0 {
  margin-left: 0rem !important;
}

.ml-0_25 {
  margin-left: 0.25rem !important;
}

.ml-0_5 {
  margin-left: 0.5rem !important;
}

.ml-0_75 {
  margin-left: 0.75rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.ml-1_25 {
  margin-left: 1.25rem !important;
}

.ml-1_5 {
  margin-left: 1.5rem !important;
}

.ml-1_75 {
  margin-left: 1.75rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.mr-0 {
  margin-right: 0rem !important;
}

.mr-0_25 {
  margin-right: 0.25rem !important;
}

.mr-0_5 {
  margin-right: 0.5rem !important;
}

.mr-0_75 {
  margin-right: 0.75rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mr-1_25 {
  margin-right: 1.25rem !important;
}

.mr-1_5 {
  margin-right: 1.5rem !important;
}

.mr-1_75 {
  margin-right: 1.75rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.p-0 {
  padding: 0rem !important;
}

.p-0_25 {
  padding: 0.25rem !important;
}

.p-0_5 {
  padding: 0.5rem !important;
}

.p-0_75 {
  padding: 0.75rem !important;
}

.p-1 {
  padding: 1rem !important;
}

.p-1_25 {
  padding: 1.25rem !important;
}

.p-1_5 {
  padding: 1.5rem !important;
}

.p-1_75 {
  padding: 1.75rem !important;
}

.p-2 {
  padding: 2rem !important;
}

.pt-0 {
  padding-top: 0rem !important;
}

.pt-0_25 {
  padding-top: 0.25rem !important;
}

.pt-0_5 {
  padding-top: 0.5rem !important;
}

.pt-0_75 {
  padding-top: 0.75rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pt-1_25 {
  padding-top: 1.25rem !important;
}

.pt-1_5 {
  padding-top: 1.5rem !important;
}

.pt-1_75 {
  padding-top: 1.75rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pb-0 {
  padding-bottom: 0rem !important;
}

.pb-0_25 {
  padding-bottom: 0.25rem !important;
}

.pb-0_5 {
  padding-bottom: 0.5rem !important;
}

.pb-0_75 {
  padding-bottom: 0.75rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pb-1_25 {
  padding-bottom: 1.25rem !important;
}

.pb-1_5 {
  padding-bottom: 1.5rem !important;
}

.pb-1_75 {
  padding-bottom: 1.75rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pl-0 {
  padding-left: 0rem !important;
}

.pl-0_25 {
  padding-left: 0.25rem !important;
}

.pl-0_5 {
  padding-left: 0.5rem !important;
}

.pl-0_75 {
  padding-left: 0.75rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.pl-1_25 {
  padding-left: 1.25rem !important;
}

.pl-1_5 {
  padding-left: 1.5rem !important;
}

.pl-1_75 {
  padding-left: 1.75rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.pr-0 {
  padding-right: 0rem !important;
}

.pr-0_25 {
  padding-right: 0.25rem !important;
}

.pr-0_5 {
  padding-right: 0.5rem !important;
}

.pr-0_75 {
  padding-right: 0.75rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pr-1_25 {
  padding-right: 1.25rem !important;
}

.pr-1_5 {
  padding-right: 1.5rem !important;
}

.pr-1_75 {
  padding-right: 1.75rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.gap-0 {
  gap: 0rem !important;
}

.gap-0_25 {
  gap: 0.25rem !important;
}

.gap-0_5 {
  gap: 0.5rem !important;
}

.gap-0_75 {
  gap: 0.75rem !important;
}

.gap-1 {
  gap: 1rem !important;
}

.gap-1_25 {
  gap: 1.25rem !important;
}

.gap-1_5 {
  gap: 1.5rem !important;
}

.gap-1_75 {
  gap: 1.75rem !important;
}

.gap-2 {
  gap: 2rem !important;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

button {
  font-family: "Lato", sans-serif;
}

p,
a {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

main {
  max-width: 500px;
}

.cursor {
  cursor: pointer;
}

.ui.container.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(75vh - 20px);
  padding: 2rem;
}
.ui.container.home .home-bg {
  width: 100%;
  position: fixed;
  top: 0;
}
.ui.container.home .home-title {
  margin: 0 0 30px 0;
}
.ui.container.home .home-texte {
  margin: 0 0 18px 0;
}
.ui.container.home .home-texte_title {
  margin: 0 0 7px 0 !important;
}
.ui.container.home .button-start {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-login {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.main-login .bg-top {
  width: 100%;
}
.main-login .bg-bottom {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.ui.container.register {
  height: 100vh;
}

.ui.container.login,
.ui.container.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem 0;
}
.ui.container.login .login-title,
.ui.container.register .login-title {
  margin-bottom: 25px;
}
.ui.container.login .ui.form .form-mail,
.ui.container.register .ui.form .form-mail {
  margin-bottom: 13px;
}
.ui.container.login .switch-login,
.ui.container.register .switch-login {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  color: #afafaf;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.75rem;
}
.ui.container.login .switch-login:before, .ui.container.login .switch-login:after,
.ui.container.register .switch-login:before,
.ui.container.register .switch-login:after {
  content: "";
  background-color: #afafaf;
  height: 1px;
  width: 100%;
  display: block;
}
.ui.container.login .password-login,
.ui.container.login .password-register,
.ui.container.register .password-login,
.ui.container.register .password-register {
  position: relative;
  margin-bottom: 28px;
}
.ui.container.login .password-login .ui.password,
.ui.container.login .password-register .ui.password,
.ui.container.register .password-login .ui.password,
.ui.container.register .password-register .ui.password {
  position: relative;
}
.ui.container.login .password-login .ui.password .show-password,
.ui.container.login .password-register .ui.password .show-password,
.ui.container.register .password-login .ui.password .show-password,
.ui.container.register .password-register .ui.password .show-password {
  position: absolute;
  top: 50% !important;
  transform: translateY(-50%);
  right: 1rem;
}
.ui.container.login .password-login .forgot-password,
.ui.container.login .password-register .forgot-password,
.ui.container.register .password-login .forgot-password,
.ui.container.register .password-register .forgot-password {
  display: block;
  margin-top: 6px;
  margin-left: 6px;
  color: #afafaf;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}
.ui.container.login .login-text,
.ui.container.login .register-text,
.ui.container.register .login-text,
.ui.container.register .register-text {
  text-align: center;
  color: #afafaf;
  font-size: 0.75rem;
}
.ui.container.login .login-text p b,
.ui.container.login .register-text p b,
.ui.container.register .login-text p b,
.ui.container.register .register-text p b {
  cursor: pointer;
}
.ui.container.login .text-register,
.ui.container.register .text-register {
  text-align: center;
  font-size: 0.75rem;
}
.ui.container.login .text-register p,
.ui.container.register .text-register p {
  font-weight: 900;
}
.ui.container.login .text-register a,
.ui.container.register .text-register a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
}

.ui.container.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.ui.container.quiz .arrow-left {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ui.container.quiz .arrow-left .progress-bar {
  content: "";
  width: 80%;
  background-color: #d9d9d9;
  border-radius: 15px;
  position: relative;
}
.ui.container.quiz .arrow-left .progress-bar__before {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  background-color: #fecc00;
  border-radius: 15px;
}
.ui.container.quiz .arrow-left .progress-number {
  margin: 0;
  display: flex;
  line-height: 0;
  align-items: center;
}
.ui.container.quiz .ui.container.question .h-100 {
  height: 100%;
}
.ui.container.quiz .ui.container.question .h-100 .h-100 {
  height: 100%;
}
.ui.container.quiz .ui.container.question .h-100 .h-100 .question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(90vh - 4rem);
}
.ui.container.quiz .ui.container.question .h-100 .h-100 .question h1 {
  font-size: 1rem;
}
.ui.container.quiz .ui.container.question .h-100 .h-100 .question .question-text {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
}
.ui.container.quiz .ui.container.question .h-100 .h-100 .question .question-text span {
  color: #fecc00;
}
.ui.container.quiz .ui.container.question .h-100 .h-100 .question .questions-button {
  display: flex;
  flex-direction: column;
}

.ui.container.result {
  min-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}
.ui.container.result .btn-link-text {
  color: #ffffff;
  text-decoration: none;
}
.ui.container.result .text-align {
  text-align: center;
}
.ui.container.result .text-align .result-img {
  width: 190px;
  height: auto;
}
.ui.container.result .text-align .result-text {
  margin-bottom: 0;
}
.ui.container.result .text-align .flex {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.ui.container.result .text-align .flex .result-number {
  font-size: 96px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.ui.container.result .result-container_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ui.container.result .result-container_data h1 {
  font-size: 16px;
  margin-bottom: 3rem;
  text-align: start;
  padding: 0 20px;
}
.ui.container.result .result-container_data img {
  width: 250px;
}
.ui.container.result .result-container_stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ui.container.result .result-container_stat h1 {
  font-size: 16px;
  text-align: start;
  padding: 0 30px;
  margin-bottom: 25px;
}
.ui.container.result .result-container_stat .result-stat {
  display: flex;
  padding: 0 30px;
}
.ui.container.result .result-container_stat .result-stat .result-stat_text {
  text-align: start;
  width: 65%;
  display: flex;
  flex-direction: column;
}
.ui.container.result .result-container_stat .result-stat .result-stat_text h1 {
  font-size: 35px;
  margin: 0;
  padding: 0;
}
.ui.container.result .result-container_stat .result-stat .result-stat_text p {
  font-size: 15px;
  margin: 0;
  word-spacing: 2px;
}
.ui.container.result .result-container_stat .result-stat .result-stat_icon {
  width: auto;
  height: 60px;
}
.ui.container.result .result-container_stat .first {
  justify-content: flex-start;
}
.ui.container.result .result-container_stat .second {
  justify-content: flex-end;
  width: 100%;
}
.ui.container.result .result-container_stat .second .result-stat_text {
  margin-left: 2rem;
  width: 175px;
  padding-right: 30px;
}
.ui.container.result .result-container_stat .third .result-stat_icon {
  margin-left: 17px;
}
.ui.container.result .result-container_register {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ui.container.result .result-container_register .result-data {
  width: 180px;
  height: auto;
  margin-bottom: 23px;
}
.ui.container.result .result-container_register h1 {
  margin-bottom: 2rem !important;
}
.ui.container.result .result-container_register ul {
  padding-left: 24px;
  margin: 0;
  line-height: 22px;
}

.justify-start {
  justify-content: start !important;
}

.display-none {
  display: none;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.swiper-pagination .swiper-pagination-bullet {
  display: flex;
  align-items: center;
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  border: 1px solid #fecc00;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fecc00 !important;
}

.ui.container.level {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 115px;
}
.ui.container.level .level-state .level-title_container {
  margin-top: 122px;
}
.ui.container.level .level-state .img-flag {
  width: 250px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.ui.container.level .level-state .img-flag img {
  width: 100%;
  height: auto;
}
.ui.container.level .level-state .img-flag .img-smiley {
  width: 122px;
  position: absolute;
  top: -86px;
  z-index: -1;
  left: 67px;
}
.ui.container.level .level-state .img-flag .level-flag {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -90%);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 15px;
}
.ui.container.level .level-state .ui.level {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ui.container.level .level-state .ui.level .level {
  margin: 0 9px;
}

.ui.container.profile {
  margin: 30px 0 71px 0;
}
.ui.container.profile .container-profile_header {
  justify-content: center;
  display: flex;
  margin-bottom: 11px;
}
.ui.container.profile .container-profile_header .profile-header_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
}
.ui.container.profile .profile-content .profile-header_content {
  content: "";
  border: 1px solid #d9d9d9;
}
.ui.container.profile .profile-content .display {
  display: flex;
  padding: 0 30px;
}
.ui.container.profile .profile-content .display .profile-content_name .name {
  text-align: start;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  margin: 23px 0 5px 0;
}
.ui.container.profile .profile-content .display .profile-content_name .username {
  margin: 0 0 18px 0;
  color: #afafaf;
  font-weight: 700;
  font-size: 15px;
}
.ui.container.profile .profile-content .display .profile-img_position {
  margin-left: 18px;
  margin-top: 22px;
}
.ui.container.profile .profile-content .display .profile-img_position .profile-img {
  width: 77px;
}
.ui.container.profile .profile-content .display .profile-date .date {
  display: flex;
  align-items: center;
  color: #afafaf;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 22px;
}
.ui.container.profile .profile-content .display .profile-date .date .date-clock {
  margin-right: 9px;
}
.ui.container.profile .profile-stat_content {
  padding: 0 30px;
}
.ui.container.profile .profile-stat_content .stat-title {
  text-align: start;
  margin: 27px 0 23px 0;
}
.ui.container.profile .profile-stat_content .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.ui.container.profile .profile-stat_content .grid .grid-stat_box {
  border: solid 1.5px #afafaf;
  border-radius: 15px;
  padding: 11px 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #afafaf;
}
.ui.container.profile .profile-stat_content .grid .grid-stat_box .stat-number {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  color: #000000 !important;
}
.ui.container.profile .profile-success_content {
  padding: 0 30px 30px 30px;
}
.ui.container.profile .profile-success_content .success-title {
  text-align: start;
  margin: 30px 0 25px 0;
}
.ui.container.profile .profile-success_content .success-content .border-top {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.ui.container.profile .profile-success_content .success-content .border-none {
  border-top: none !important;
  border-bottom: none !important;
}
.ui.container.profile .profile-success_content .success-content .border-bottom {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.ui.container.profile .profile-success_content .success-content .padding-top {
  padding: 25px 20px 21px 20px;
}
.ui.container.profile .profile-success_content .success-content .padding-bottom {
  padding: 21px 20px 25px 20px;
}
.ui.container.profile .profile-success_content .success-content .padding-middle {
  padding: 21px 20px 21px 20px;
}
.ui.container.profile .profile-success_content .success-content .text-afficher {
  border-top: none !important;
  padding: 13px 21px 17px 21px !important;
}
.ui.container.profile .profile-success_content .success-content .display {
  display: flex;
  align-items: center;
  border: solid 1.5px #d9d9d9;
}
.ui.container.profile .profile-success_content .success-content .display .success-img_bg {
  align-items: center;
  display: flex;
  padding: 5px;
  height: 65px;
  position: relative;
  background-color: #fecc00;
  border-radius: 15px;
}
.ui.container.profile .profile-success_content .success-content .display .success-img_bg::before {
  position: absolute;
  content: "";
  display: block;
  bottom: -4px;
  right: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  background-color: #e7b900;
  border-radius: 15px;
}
.ui.container.profile .profile-success_content .success-content .display .success-img_bg .success-img {
  z-index: 10;
  width: 65px;
}
.ui.container.profile .profile-success_content .success-content .display .success-text {
  margin-left: 17px;
}
.ui.container.profile .profile-success_content .success-content .display .success-text .success-text_title {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-align: start;
}
.ui.container.profile .profile-success_content .success-content .display .success-text .progress-bar {
  content: "";
  width: 100%;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 15px;
  position: relative;
  margin: 10px 0;
}
.ui.container.profile .profile-success_content .success-content .display .success-text .progress-bar__before {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  background-color: #fecc00;
  border-radius: 15px;
}
.ui.container.profile .profile-success_content .success-content .display .success-text .percent-50 {
  width: 50%;
}
.ui.container.profile .profile-success_content .success-content .display .success-text .percent-10 {
  width: 10%;
}
.ui.container.profile .profile-success_content .success-content .display .success-text .percent-75 {
  width: 75%;
}
.ui.container.profile .profile-success_content .success-content .display .success-text .success-text_text {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #696969;
}
.ui.container.profile .profile-success_content .success-content .display .success-text_afficher {
  margin: 0 !important;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.ui.container.profile .profile-success_content .success-content .display .success-text_afficher .success-text_chevron {
  height: 13px;
  width: auto;
}

.ui.container.reglage .container-reglage_header {
  justify-content: center;
  display: flex;
  margin-bottom: 11px;
  margin-top: 30px;
}
.ui.container.reglage .container-reglage_header .reglage-header_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
}
.ui.container.reglage .reglage-content .reglage-header_content {
  content: "";
  border: 1px solid #d9d9d9;
}
.ui.container.reglage .reglage-option_content {
  padding: 0 30px;
}
.ui.container.reglage .reglage-option_content .reglage-option_title {
  margin: 30px 0 35px 0;
  text-align: start;
}
.ui.container.reglage .reglage-option_content .reglage-parametre ul {
  list-style: none;
  padding: 0;
}
.ui.container.reglage .reglage-option_content .reglage-parametre ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  margin-bottom: 20px;
}
.ui.container.reglage .reglage-option_content .reglage-parametre ul li div {
  display: flex;
  align-items: center;
}
.ui.container.reglage .reglage-option_content .reglage-parametre ul li div .reglage-icon {
  width: 20px;
  margin-right: 11px;
}
.ui.container.reglage .reglage-option_content .reglage-parametre ul li div p {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.ui.container.reglage .reglage-option_content .reglage-parametre ul li .reglage-icon_chevron {
  height: 11px;
  width: auto;
}
.ui.container.reglage .reglage-disconnecte {
  position: fixed;
  bottom: 100px;
  left: 30px;
}
.ui.container.reglage .reglage-disconnecte .button button {
  background-color: #C73E20;
  border: none;
  padding: 8px 20px;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
}

.ui.container.error img {
  width: 100%;
}
.ui.container.error .error-content {
  padding: 0 30px;
}
.ui.container.error .error-content .error-content_title {
  font-weight: 700;
  font-size: 59px;
  font-family: "Montserrat", sans-serif;
}
.ui.container.error .error-content .error-content_texte {
  margin: 0 0 50px 0;
}
.ui.container.error .error-content .error-content_texte span {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
}

.back-confet {
  height: 25vh;
  position: relative;
  margin-bottom: 20px;
}
.back-confet .background-color {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fecc00;
  height: 100%;
  width: 100%;
}
.back-confet .background-confet {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.back-confet .wave {
  bottom: -4px;
  right: 0;
  max-height: 70%;
  width: 100%;
  position: absolute;
}
.back-confet .children {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 101;
  width: 100%;
}
nav .nav-bar_content {
  width: 100%;
  height: 83px;
}
nav .nav-bar_content .ui.nav-bar {
  padding: 18px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-bar_content .ui.nav-bar button {
  background-color: transparent;
  border: none;
}
nav .nav-bar_content .ui.nav-bar button a {
  text-decoration: none;
}
nav .nav-bar_content .ui.nav-bar button a p {
  margin: 0;
  color: #3872B2;
}

.box-shadow {
  position: fixed;
  bottom: 0;
  left: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 95;
  width: 102%;
  height: 83px;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.14);
}

.btn {
  width: 100%;
  padding: 13px 0;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  font-weight: 900;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000000;
  cursor: pointer;
}

.btn-container {
  padding-bottom: 3px;
}

.btn-primary {
  position: relative;
  background-color: #fecc00;
}
.btn-primary::before {
  position: absolute;
  content: "";
  display: block;
  bottom: -3px;
  width: 100%;
  z-index: -1;
  height: 100%;
  background-color: #e7b900;
  border-radius: 15px;
}
.btn-primary:disabled {
  background-color: #f7f7f7;
  color: #696969;
}
.btn-primary:disabled::before {
  background-color: #afafaf;
}
.btn-primary:active {
  background-color: #ffffff;
}

.btn-secondary {
  border: 2px solid #fecc00;
  color: #fecc00;
  background-color: #ffffff;
}

.btn-answer {
  border: 2px solid #fecc00;
  background-color: #ffffff;
  text-align: left;
}

.btn-answer__yes {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px 271px 10px 21px;
  border-bottom: none;
}

.btn-answer__no {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px 271px 15px 21px;
}

.active {
  background: rgba(254, 204, 0, 0.2);
}

.ui.input {
  background: #f7f7f7;
  border: 2px solid #afafaf;
  border-radius: 15px;
  padding: 0.6rem;
  width: calc(100% - 1.2rem);
  position: relative;
}
.ui.input::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}

.ui.form {
  width: 100%;
}
.ui.form .ui.label {
  display: block;
  margin: 0 0 6px 14px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.popup-container {
  display: none;
}
.popup-container.open {
  display: block;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.popup-container.open .popup-button {
  position: fixed;
  bottom: 230px;
  right: 46px;
}

.popup-open {
  position: fixed;
  z-index: 1000;
  bottom: 140px;
  right: 40px;
}
.popup-open button {
  border: none;
  background-color: transparent;
}

.popup-open.close {
  position: fixed;
  z-index: 1000;
  bottom: 140px;
  right: 40px;
}
.popup-open.close button {
  animation: rotation-button-open 1s ease-out;
  border: none;
  background-color: transparent;
  transform: rotate(45deg);
}
.popup-open.close button svg ellipse {
  fill: #ffffff;
}
.popup-open.close button svg path {
  fill: #fecc00;
}

.popup-open.open:active button {
  animation: rotation-button-close 0.5s ease-out;
  border: none;
  background-color: transparent;
  transform: rotate(0deg);
}

.popup-button {
  z-index: 100;
}
.popup-button .popup-button_display {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}
.popup-button .popup-button_display .button-message,
.popup-button .popup-button_display .button-ia {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.popup-button .popup-button_display .button-message p,
.popup-button .popup-button_display .button-ia p {
  margin: 7px 5px;
  color: #ffffff;
  background-color: #237EE2;
  border-radius: 5px;
  padding: 7px 10px;
}
.popup-button .popup-button_display .button-message .ia-text,
.popup-button .popup-button_display .button-ia .ia-text {
  text-align: center;
  width: 100%;
}
.popup-button .popup-button_display .button-message .ia-img,
.popup-button .popup-button_display .button-ia .ia-img {
  width: 50%;
}
.popup-button .popup-button_display .button-message button,
.popup-button .popup-button_display .button-ia button {
  border-radius: 50%;
  width: 58px;
  height: 58px;
  border: none;
  background-color: #237EE2;
  margin-left: 8px;
}
.popup-button .popup-button_display .button-ia {
  margin-bottom: 12px;
}

@keyframes rotation-button-open {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(405deg);
  }
}
@keyframes rotation-button-close {
  from {
    transform: rotate(405deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.circle-wrap {
  margin: 20px auto;
  width: 95px;
  height: 95px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}

.circle-state {
  height: 100%;
  width: 100%;
  transform: rotate(150deg);
}

.outline-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 100;
  transform: translate(12px, 7px);
  width: 35px;
}
.outline-img img {
  width: 100%;
  height: auto;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 95px;
  height: 95px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 95px, 95px, 47.5px);
}

.deep {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.circle-wrap .inside-circle {
  width: 80px;
  height: 80px;
  background: #ffffff;
  line-height: 82px;
  text-align: center;
  color: #fecc00;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}
.circle-wrap .inside-circle .deep-circle {
  width: 65px;
  height: 65px;
  background-color: #237EE2;
}
.circle-wrap .inside-circle .deep-circle img {
  height: auto;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -54%);
}

/* color animation */
/* 3rd progress bar */
.mask .fill {
  clip: rect(0px, 47.5px, 95px, 0px);
  background-color: #fecc00;
}

.mask.full,
.circle .fill {
  /*
  transform: rotate(150deg);
  */
}

.level.disabled .circle-wrap .inside-circle .deep-circle {
  background-color: #d9d9d9;
}/*# sourceMappingURL=app.css.map */